
#ingredient_card{
    margin-left: 30px;
    font-size: 20px;
}
#step_card{
    text-align: center;
    font-size: 20px;
}
#step{
    font-size: 20px;
}
#text{
    color: purple;
}
h3{
    color: purple;
    font-family: love;
}
